export KEY_NAME={{ account_name }}                                     # Manually define a unique identifier for your node.
export KEYRING_PASSWORD={{ keyring_password }}                         # Set a password for encrypting the ML Operational Key stored in the file keyring backend on the server.
export NGINX_MODE=http                                                 # HTTP mode
export API_PORT=8000                                                   # HTTP port
export PUBLIC_URL=http://{{ host }}:8000                               # Set the public URL where your node will be accessible (e.g., http://your-domain.com:8000 or http://your-ip:8000).
export P2P_EXTERNAL_ADDRESS=tcp://{{ host }}:5000                      # Set the P2P external address for your node (e.g., tcp://your-domain.com:5000 or tcp://your-ip:5000).
export ACCOUNT_PUBKEY={{ account_pubkey }}                             # Use the pubkey from your Account Key (without quotes)
export NODE_CONFIG=./node-config.json                                  # Keep as is
export HF_HOME={{ hf_cache }}                                          # Set the path where Hugging Face models will be cached. Set this to a writable local directory (e.g., ~/hf-cache).
export SEED_API_URL=http://{{ seed_host }}:8000                        # Keep as is
export SEED_NODE_RPC_URL=http://{{ seed_host }}:8000/chain-rpc/        # Keep as is
export SEED_NODE_P2P_URL=tcp://{{ seed_host }}:5000                    # Keep as is
export DAPI_API__POC_CALLBACK_URL=http://{{ poc_callback_url }}:9100   # Keep as is
export DAPI_CHAIN_NODE__URL=http://node:26657                          # Keep as is
export DAPI_CHAIN_NODE__P2P_URL=http://node:26656                      # Keep as is
export RPC_SERVER_URL_1={{ rpc_server_url_1 }}                         # Keep as is
export RPC_SERVER_URL_2={{ rpc_server_url_2 }}                         # Keep as is
export PORT=8080                                                       # Keep as is
export INFERENCE_PORT=5050                                             # Keep as is
export KEYRING_BACKEND=file                                            # Keep as is
