⚫️ {{ inventory_hostname }}: <code>{{ ansible_host }}</code>
🕒 Height: <code>{{ network_node_status.json.result.sync_info.latest_block_height | default('N/A') }}</code>
💾 Disk: <code>{{ disk_space_info.stdout | default('N/A') }}</code>
ℹ️ <a href="{{ tracker_url }}/?participant={{ account_address }}">Information link</a>
💰 <a href="{{ dashboard_url }}/dashboard/gonka/account/{{ account_address }}">Account link</a>
{% if network_node_response.json.summary.recommendations is defined and network_node_response.json.summary.recommendations | length > 0 %}
{% if network_node_response.json.summary.issues is defined and network_node_response.json.summary.issues | length > 0 %}
⚠️ Issues: 
<pre language="bash">{% for issue in network_node_response.json.summary.issues %}
{{ issue }}
{% endfor %}</pre>
{% endif %}

{% endif %}
{% if network_node_response.json.summary.recommendations is defined and network_node_response.json.summary.recommendations | length > 0 %}
💡 Recommendations:
<pre language="bash">{% for recommendation in network_node_response.json.summary.recommendations %}
{{ recommendation }}
{% endfor %}</pre>
{% endif %}

⚪️ ML Nodes:
<pre language="bash">{% for node in network_node_nodes.json %}
{{ node.node.id }} {{ node.node.host }} {{ node.state.current_status }} Epoch: {{ node.state.admin_state.epoch }}
{% endfor %}</pre>
